html, body {
    height: 100%;
    margin: 0;
}

#gameField {
    background-color: black;
    width: 100%;
    min-height: 100%;
}

#middleLine {
    width: 1%;
    position: absolute;
    background-color: white;
}

@font-face {
    font-family: 'squarefontregular';
    src: url('../fonts/square-webfont.eot');
    src: url('../fonts/square-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/square-webfont.woff2') format('woff2'),
    url('../fonts/square-webfont.woff') format('woff'),
    url('../fonts/square-webfont.ttf') format('truetype'),
    url('../fonts/square-webfont.svg#squarefontregular') format('svg');
}

.score {
    font-family: 'squarefontregular', sans-serif;
    color: white;
    text-align: center;
    position: absolute;
    top: 2%;
}

.paddle {
    height: 100%;
    background-color: white;
}

#leftPaddle {
    float: right;
}

#rightPaddle {
    float: left;
}

.paddleContainer {
    position: absolute;
}

#ball {
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
}